<h2 class="border-bottom">新規会員登録</h2></br>

<!--エラーメッセージ-->
<% if @member.errors.any? %>
  <ul>
    <% @member.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

  <%= form_for(resource, as: resource_name, url: member_registration_path) do |f| %>
    <div class="row">
      <div class="col-lg-2">
        <%= f.label :会員名 %></div>
      <div class="col-lg-10">
        <%= f.text_field :name, autofocus: true, style: "width:30%;" %></div>
    </div>

    <div class="row mt-1">
      <div class="col-lg-2">
        <%= f.label :メールアドレス %></div>
      <div class="col-lg-10">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", style: "width:30%;" %></div>
    </div>

    <div class="row mt-1">
      <div class="col-lg-2">
        パスワード</br>（6文字以上）</div>
      <div class="col-lg-10">
        <%= f.password_field :password, autocomplete: "new-password", style: "width:30%;" %></div>
    </div>

    <div class="row mt-1">
      <div class="col-lg-2">
        パスワード</br>（確認用）</div>
      <div class="col-lg-10">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", style: "width:30%;" %></div>
    </div>

    <div class="row mt-1">
      <div class="col-lg-2"></div>
      <div class="col-lg-10">
        <%= f.submit "新規会員登録",class: "btn btn-success" %></div>
    </div>

  <% end %>

  <h3 class="mt-4">既に会員登録済みの方</h3>

  <%= link_to "こちら", new_member_session_path %>
  <span> からログインしてください。</span>
