<div class=“row”>
  <h2 class="border-bottom">ログイン</h2></br>
  
  <!--エラーメッセージ-->
<% if @member.errors.any? %>
  <ul>
    <% @member.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
  
  <h3>会員の方はこちらからログイン</h3>

  <%= form_for(resource, as: resource_name, url: member_session_path) do |f| %>

    <div class="row mt-3">
      <div class="col-lg-2">
      <%= f.label :メールアドレス %></div>
      <div class="col-lg-9">
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %></div>
    </div>

    <div class="row mt-1">
      <div class="col-lg-2">
      <%= f.label :パスワード %></div>
      <div class="col-lg-9">
      <%= f.password_field :password, autocomplete: "current-password" %></div>
    </div>


    <div class="row mt-1">
      <div class="col-lg-2"></div>
      <div class="col-lg-9">
      <%= f.submit "ログイン", class: "btn btn-primary" %></div>
    </div>
  <% end %>

  </br>
  <h3 class="mt-1">登録がお済でない方</h3>

  <%= link_to "こちら", new_member_registration_path %>
  <span> から新規登録を行ってください。</span>
</div>
