<nav class="nav navbar-brand">
  <%= link_to admin_root_path,class:"text-light font-weight-bold display-4" do %>Favorite Movies<% end %>
</nav>

<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNavDropdown">
  <ul class="navbar-nav ml-auto">
    <li>
      <%= link_to admin_members_path, class: "nav-link text-light" do %>会員一覧<% end %>
    </li>
    <li>
      <%= link_to admin_root_path,class: "nav-link text-light" do %>作品一覧<% end %>
    </li>
    <li>
      <%= link_to destroy_admin_session_path,class: "nav-link text-light", method: :delete do %>ログアウト<% end %>
    </li>
  </ul>
</div>
  <%# 検索フォーム %>
  <%#<%= render 'admins/searches/search' %>