<!DOCTYPE html>
<html>
  <head>
    <title>Favorite Movies</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%#<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!--bootstrapの記述-->
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-info">
        <div class="container">
          <% if member_signed_in? %>
            <%= render 'layouts/header_member' %>
          <% elsif admin_signed_in? %>
            <%= render 'layouts/header_admin' %>
          <% else %>
            <%= render 'layouts/header_logout' %>
          <% end %>
        </div>
      </nav>
    </header>
    
    <main>
      <!--エラーメッセージの表示-->
      <div class="container">
        <% flash.each do |message_type, message| %>
          <div class="alert alert-<%= message_type %>">
            <%= message %>
          </div>
        <% end %>
        
    <%= yield %>
    </main>
  
  </body>
</html>
